<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  {% block title %}
  <title>{{ config.title }}</title>
  {% endblock title %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />

  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.11.1/css/tachyons.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" />
  <link rel="stylesheet" href="{{ config.base_url | safe }}style.css" />
  {% endblock head %}
</head>

<body class="sans-serif w-90 w-80-m w-60-ns center mv2 mv5-ns">
  <a href="{{ config.base_url | safe }}" class="b bw1 bb pb1 no-underline">{{ config.title }}</a>
  {% block content %}
  {% endblock content %}

  <footer class="mt5">
    <div class="">
      <a href="{{ config.base_url | safe }}">home</a> | <a href="{{ config.base_url | safe }}rss.xml">rss</a>
    </div>
    <footer>
      <script>
        const swapColors = () =>
        {
          const darkMode = window.matchMedia("(prefers-color-scheme: dark)").matches;
          if (!darkMode) {
            return
          }
          const walkDOM = (node, func) =>
          {
            func(node);
            node = node.firstChild;
            while (node) {
              walkDOM(node, func);
              node = node.nextSibling;
            }
          }
          const colorMap = map = {
            "#eff1f5": "#2b303b",
            "rgb(239, 241, 245)": "#2b303b",
            "#4f5b66": "#c0c5ce",
            "rgb(79, 91, 102)": "#c0c5ce",
          }
          const invert = (node) => {
            if (!node.style) {
              return
            }
            swapMatch(node.style, "backgroundColor")
            swapMatch(node.style, "color")
          }

          const swapMatch = (dict, key) => {
            const match = colorMap[dict[key]];
            if (match) {
              dict[key] = match
            }
          }
          Array.from(document.getElementsByTagName("pre")).map((e) => walkDOM(e, invert))
        }
        swapColors()
      </script>

</body>

</html>
