{% extends "base.html" %}

{% block content %}



<section id="main" class="mt4">
    <article>
        <div class="body">
            <p>
                Embly is a serverless webassembly framework.
            </p>

            <p>
                You can learn more about Embly by reading <a href="what-is-embly/">What is Embly</a> or
                by checking out the source and examples on github:
                <a href="https://www.github.com/embly/embly">github.com/embly/embly</a>
            </p>

            <p>
                This site is also an Embly application. You can check out the 
                <a href="/app">example authentication application</a> endpoint
                that uses the Embly key-value store to store data and 
                processes all login and registration logic with webassembly 
                functions.
            </p>
        </div>
    </article>
    <div class="mt4">Posts:</div>
    <div>
        <ul id="list" class="pl0">
            {% for page in paginator.pages %}
            <li class="list pl0" id="{{page.title}}">
                <a class="f4 b dib no-underline" href="{{page.permalink}}">
                    {{page.title}}
                </a>
                <span class="f6 gray db dib-ns">{{ page.date | date(format="%B %d, %Y") }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div>Links:</div>
    {% set links = load_data(path="./templates/links.csv") %}
    {% for link in links.records %}
    <ul id="list" class="pl0">
        <li class="list pl0">
            <a class="f4 b dib no-underline" href="{{link.1}}">{{link.0}}</a>
        </li>
    </ul>
    {% endfor  %}

</section>


{% endblock content %}
